<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        {% block title %}
        <title>HMI</title>
        {% endblock %}
        <!-- jQuery 2.1.4 -->
        <script src="{{ url_for('static', filename='lte/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="{{ url_for('static', filename='lte/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lte/bootstrap/css/bootstrap.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='lte/dist/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lte/dist/css/skins/_all-skins.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ url_for('static', filename='lte/plugins/font-awesome-4.6.1/css/font-awesome.min.css') }}">
        <!-- Virual keyboard  -->
        <link rel="stylesheet" href="{{ url_for('static', filename='js/keyboard-master/css/keyboard-basic.css') }}">
        <!-- keyboard optional extensions - include ALL (includes mousewheel) -->
        <script src="{{ url_for('static', filename='js/keyboard-master/js/jquery.keyboard.js') }}"></script>
        <script src="{{ url_for('static', filename='js/keyboard-master/js/jquery.keyboard.extension-all.js') }}"></script>
        <script src="{{ url_for('static', filename='js/keyboard-master/languages/de.js') }}"></script>
        <script src="{{ url_for('static', filename='js/keyboard-master/layouts/german.js') }}"></script>

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>HMI</title>
        {% endif %}

            <script type="text/javascript">
            var AdminLTEOptions = {
                enableFastclick: true,
                animationSpeed: 100
            };

        </script>

            <!-- Bootstrap 3.3.5 -->
            <script src="{{ url_for('static', filename='lte/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='lte/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
            <script src="{{ url_for('static', filename='lte/plugins/fastclick/fastclick.min.js') }}"></script>
            <script src="{{ url_for('static', filename='lte/dist/js/app.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/hmi.js') }}"></script>

    </head>
    <body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">

        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a onclick="loadpage('{{ url_for("index") }}')" class="navbar-brand">
                            <span class="logo-lg"><b>HMI</b>
                                <img src= {{ url_for('static', filename = 'img/Logo_RheinischeFhKoeln.png') }} width="30" height="30" title="RFH Köln" alt="RFH" border="0">
                            </span>
                        </a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                        {% if session.angemeldet %}
                            <li>
                                <a>
                                    <i class="fa fa-user text-success" aria-hidden="true"></i> {{ session.benutzer }}
                                </a>
                            </li>
                            <li>
                                <a onclick="loadpage('{{ url_for("logout") }}')">
                                    <i class="fa fa-sign-out text-danger" aria-hidden="true"></i> Logout
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a onclick="loadpage('{{ url_for("login") }}')">
                                    <i class="fa fa-sign-in text-primary" aria-hidden="true"></i> Login
                                </a>
                            </li>
                        {% endif %}
                        {% if session.lanip %}
                            <li><a>LAN IP: {{ session.lanip }}</a></li>
                        {% endif %}
                        {% if session.wlanip %}
                            <li><a>WLAN IP: {{ session.wlanip }} MAC: b8:27:eb:6b:e5:20</a></li>
                        {% endif %}
                            <li>
                                <a onclick="loadpage('{{ url_for("halt") }}')">
                                    <i class="fa fa-power-off text-danger" aria-hidden="true"></i> Ausschalten
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </nav>
        </header>


        <div class="content-wrapper">
                <div class="container-fluid">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1>
                            {% if title %}
                                {{ title.title }}

                            {% if title.subtitle %}
                                <small>{{ title.subtitle }}</small>
                            {% endif %}
                            {% endif %}

                        </h1>
                    </section>

                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>



    {% block jscript %}

    {% endblock %}
    </body>
</html>