{% extends "base.html" %}
{% block content %}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a aria-expanded="true" href="#tab_1" data-toggle="tab">Graph</a></li>
        <li class=""><a aria-expanded="false" href="#tab_2" data-toggle="tab">Einstellungen</a></li>
        <li class=""><a aria-expanded="false" href="#tab_3" data-toggle="tab">Versuchsbeschreibung</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div id="chartContainer" style="width:100%; height:280px"></div>
            <form class="form-inline">
                <div class="form-group">
                    <a class="btn btn-default" onclick="get_values()">
                        <i class="fa fa-play-circle"></i>
                        Start
                    </a>
                    <a class="btn btn-default stop">
                        <i class="fa fa-stop"></i>
                        Stop
                    </a>
                    <a class="btn btn-default" onclick="sendreport()">
                      <i class="fa fa-envelope"></i>
                        eMail
                    </a>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="row">
                <form class="form-inline" id="frm-messung-name">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Name: </label>
                            <input type="text" class="form-control" id="inp-messung-name" placeholder="name der Messung">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Zeitperiode [s]: </label>
                            <select id="sensordelaytime">
                                <option value="" selected></option>
                                <option value="0.1">0.1</option>
                                <option value="0.2">0.2</option>
                                <option value="0.3">0.3</option>
                                <option value="0.4">0.4</option>
                                <option value="0.5">0.5</option>
                                <option value="0.6">0.6</option>
                                <option value="0.7">0.7</option>
                                <option value="0.8">0.8</option>
                                <option value="0.9">0.9</option>
                                <option value="1.0">1.0</option>
                             </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <blockquote>
                    <form id="opt_X_Form">
                    <div class="form-group">
                        <label>X Achse</label>
                        {% for sensor in sensors %}
                        <div class="radio">
                            <label>
                                <input name="xachse" sensor_unit="{{ sensor.unit }}" sensor_name="{{ sensor.name }}" sensor_id="{{ sensor.id }}" type="radio">
                                {{ sensor.name }} [{{ sensor.unit }}]
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    </form>
                    </blockquote>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <blockquote>
                    <form id="opt_Y_Form">
                    <div class="form-group">
                        <label>Y Achse</label>
                        {% for sensor in sensors %}
                        <div class="radio">
                            <label>
                                <input name="yachse" sensor_unit="{{ sensor.unit }}" sensor_name="{{ sensor.name }}" sensor_id="{{ sensor.id }}" type="radio">
                                {{ sensor.name }} [{{ sensor.unit }}]
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    </form>
                    </blockquote>
                </div>

            </div>

        </div>
        <div class="tab-pane" id="tab_3">
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea class="form-control" placeholder="Versuchsbeschreibung" id="inp-messung-beschreibung" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block jscript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/canvasjs-1.8.0/canvasjs.min.js') }}"></script>
    <script type="text/javascript">
        var NameMessung = $("inp-messung-name").val();
        var sensorIdXAchse = "";
        var sensorIdYAchse = "";
        var sensorDelayTime = "";
        var descrXAchse;
        var descrYAchse;

        var chart = new CanvasJS.Chart("chartContainer", {
            zoomEnabled: false,
            height: 280,
            width: 700,
            title: {
                text: "Title",
                fontColor: "#001F3F",
                fontSize: 15,
                fontWeight: "normal"
            },
            //toolTip:{
            //    content: "{y} sensor.unit <br> {x} sensor"
            //},
            axisX: {
                title: "X Achse",
                titleFontColor: "#001F3F",
                titleFontSize: 10
            },
            axisY: {
                title: "Y Achse",
                titleFontColor: "#001F3F",
                titleFontSize: 10
            },
            data: [
                {
                    type: "spline",
                    dataPoints: []
                }
            ],
            rangeChanged: function(e){
                console.log("type : " + e.type + ", trigger : " + e.trigger + "," +
                        "AxisX viewportMininum : " + e.axisX.viewportMinimum + "," +
                        "AxisX viewportMaximum : " + e.axisX.viewportMaximum);
            }
        });
	    chart.render();

    function get_values(){
        chart.options.data[0].dataPoints = [];
        console.log("start");
        if(sensorIdXAchse =="" || sensorIdXAchse == undefined){
            alert("kein Sensor für X Achse gewählt");
            return false;
        }
        if(sensorIdYAchse =="" || sensorIdYAchse == undefined){
            alert("kein Sensor für Y Achse gewählt");
            return false;
        }
        if(sensorDelayTime==""){
            alert("Zeit nicht gewählt");
            return false;
        }

               /**
                *
                *         var sensorIdXAchse;
        var sensorIdYAchse;
        var sensorDelayTime;
                */

        var source_url = "/messung/graph/"+sensorIdYAchse+"/"+sensorIdXAchse+"/" + sensorDelayTime;
        var source = new EventSource(source_url);
        var row;
        var yvalues;
        var xvalues;
        source.onmessage = function(event) {
            //console.log(event.data);
            row = event.data.split(",");
            yvalues = parseFloat(row[0]);
            xvalues = parseFloat(row[1]);
            // xvalues = parseFloat(row[1].split(".")[0]);
            // var length = chart.options.data[0].dataPoints.length;
            chart.options.data[0].dataPoints.push({ x: xvalues, y: yvalues }); // { x: 10, y: 71},
            /*if (length >  10 )
      	{
      		chart.options.data.shift();
      	}
*/
	        chart.render();

         //   $( "div.xAchse").text("0: " + row[0] + " 1: " + yaxis);
        };
        $("a.stop").click(function(){
            console.log("STOP");
            source.close();
        })
    }

    $('#sensordelaytime').on('change', function(){
        sensorDelayTime = $('#sensordelaytime').val();
    });

    $('#opt_X_Form input').on('change', function() {
        var xradio = $("input[name=xachse]:checked");
        sensorIdXAchse = xradio.attr('sensor_id');
        descrXAchse = xradio.attr('sensor_name') + " [" + xradio.attr('sensor_unit') + "] ";
        chart.options.axisX.title = descrXAchse;
        chart.render();
    });

    $('#opt_Y_Form input').on('change', function() {
        var yradio = $("input[name=yachse]:checked");
        sensorIdYAchse = yradio.attr('sensor_id');
        descrYAchse = yradio.attr('sensor_name') + " [" + yradio.attr('sensor_unit') + "] ";
        chart.options.axisY.title = descrYAchse;
        chart.render();
    });

    $('#inp-messung-name').on('change', function(){
        //alert($('#inp-messung-name').val());
        chart.options.title.text = $('#inp-messung-name').val();
        chart.render();
    });

    function sendreport(){
        var angemeldet = false;
        {% if session.angemeldet %}
        angemeldet = true;
        {% endif %}
        if(angemeldet == false){
            alert("Login erforderlich");
            return false;
        }

        var BeschreibungMessung = document.getElementById("inp-messung-beschreibung").value;

        var graph = $(".canvasjs-chart-canvas").get(0);
        var graphstring = graph.toDataURL(graph);
        var messungen = chart.options.data[0].dataPoints;
        messungen.unshift({"ydesc":descrYAchse, "xdesc":descrXAchse});
        messungen.unshift({"name": chart.options.title.text});
        messungen.unshift({"descr": BeschreibungMessung});
        messungen.push({"image": graphstring});

        $.ajax({
        type: 'POST',
        data: JSON.stringify(messungen),
        dataType: 'json',
        url: '/report',
        success: function(res) {
            console.log("success: " + res);
        },
        error: function(error) {
            console.log("error");
            console.log(error);
        }
    });
    }

    </script>

{% endblock %}