{% extends "base.html" %}
{% block content %}
    <div class="login-box">
        <form id="loginform" role="form" action="{{  url_for('login') }}">
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        {{ form.benutzer(class="form-control", placeholder="Benutzer") }}
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        {{ form.passwort(class="form-control", placeholder="Passwort") }}
                </div>
                <div class="row">
                    <a class="btn btn-info pull-right" onclick="submit_form($('#loginform'))">Anmelden</a>
                </div>

        </div>
        </form>
    </div>

{% endblock %}