<li>
    <a onclick="loadpage('{{ url_for("index") }}')">
        <i class="fa fa-home"></i>
        <span>Home</span>
    </a>
</li>
<!--
<li>
    <a onclick="loadpage('{{ url_for("neuersensor") }}')">
        <i class="fa fa-plus"></i>
        <span>neuer Sensor</span>
    </a>
</li>
-->