{% extends "base.html" %}
{% block content %}

        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Menue</h3>
            </div>
            <form id="neuersensor" class="form-horizontal" action="/neuersensor" role="form">
                <div class="box-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name: </label>
                        <div class="col-sm-10">
                            {{ form.name(class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a class="btn btn-info" href="{{ url_for('index') }}">Cancel</a>
                    <a class="btn btn-info pull-right" onclick="submit_form($('#neuersensor'))">Hinzufügen</a>
                </div>
            </form>
        </div>

{% endblock %}
{% block jscript %}
    {{ super() }}
{% endblock %}