{% extends "base.html" %}
{% block content %}
    <div class="box box-info">
        <form id="frmsensor" role="form" action="{{  url_for('sensor_edit', sensorid=sensor.id) }}">
        <div class="box-body">
            {{ form.hidden_tag() }}
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="col-sm-12 control-label">Name: </label>
                <div class="col-sm-12">
                    {{ form.name(class="form-control") }}
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-4 col-xs-4">
                <label class="col-sm-12 control-label">Eingang: </label>
                <div class="col-sm-12">
                    {{ form.inputrange(class="form-control") }}
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-4 col-xs-4">
                <label class="col-sm-12 control-label">Kanal: </label>
                <div class="col-sm-12">
                    {{ form.channel(class="form-control") }}
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-4 col-xs-4">
                <label class="col-sm-12 control-label">Einheit: </label>
                <div class="col-sm-12">
                    {{ form.unit(class="form-control") }}
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                <label class="col-sm-12 control-label">rangemin: </label>
                <div class="col-sm-12">
                    {{ form.rangemin(class="form-control") }}
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                <label class="col-sm-12 control-label">rangemax: </label>
                <div class="col-sm-12">
                    {{ form.rangemax(class="form-control") }}
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                <label class="col-sm-12 control-label">scalemin: </label>
                <div class="col-sm-12">
                    {{ form.scalemin(class="form-control") }}
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                <label class="col-sm-12 control-label">sclaemax: </label>
                <div class="col-sm-12">
                    {{ form.scalemax(class="form-control") }}
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a class="btn btn-info" onclick="loadpage('{{ url_for('sensor', sensorid=sensor.id)}}')">Zurück</a>
            <a class="btn btn-info pull-right" onclick="submit_form($('#frmsensor'))">Speichern</a>

        </div>
        </form>
    </div>
{% endblock %}