{% extends "base.html" %}
{% block content %}

        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">{{ sensor.name }}</h3>
                <div class="box-tools pull-right">
                    <a title="Einstellungen" onclick="loadpage('{{ url_for('sensor_edit', sensorid=sensor.id) }}')">
                        <i class="fa fa-gear"></i>
                    </a>

                </div>
            </div>
            <div class="box-body">
            <div style="height: 247px; width: 80%;"> <!--style="height: 247px; width: 80%;" width="80%" height="247" -->
            <canvas id="lineChart" width="500" height="200" style="border:1px solid"></canvas>
            </div>
            <div class="xAchse"></div>
            <a class="btn btn-success" onclick="get_values()">
                start
            </a>
            <a class="btn btn-danger stop">
                stop
            </a>
            </div>
        </div>

{% endblock %}
{% block jscript %}
    {{ super() }}

    <script src="{{ url_for('static', filename='lte/plugins/chartjs/Chart.min.js') }}"></script>

    <script type="text/javascript">

    //************************
    var canvas = document.getElementById('lineChart'),
    ctx = canvas.getContext('2d'),
    startingData = {
      labels: [],
      datasets: [
          {
              fillColor: "rgba(255,255,255,0)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              data: []
          }
      ]
    };
    //latestLabel = startingData.labels[6];

// Reduce the animation steps for demo clarity.
var myLiveChart = new Chart(ctx).Line(startingData, {animationSteps: 15});


//setInterval(function(){
//  // Add two random numbers for each dataset
//  myLiveChart.addData([Math.random() * 100, Math.random() * 100], );
//  // Remove the first point so we dont just add values forever
//  myLiveChart.removeData();
//}, 5000);
    //************************


    function get_values(){
        //myLiveChart.removeData();

        console.log("start");
        var source_url = "/graph/1/1/0"; // /graph/<y>/<x>/<dtime>
        var source = new EventSource(source_url);
        source.onmessage = function(event) {
            console.log(event.data);
            row = event.data.split(",");
            yvalues = parseFloat(row[0]);
            xvalues = parseFloat(row[1]).toFixed(2);

            //ChartData.labels.push(xvalues);
            //myLineChart.addData();
            myLiveChart.addData([yvalues], xvalues);

            //myLineChart.update();
            $( "div.xAchse").text("y: " + yvalues + " X: " + xvalues);
        };
        $("a.stop").click(function(){
            console.log("STOP");
            source.close();
        })
    };
    </script>

{% endblock %}