{% extends "base.html" %}
{% block content %}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a aria-expanded="true" href="#tab_1" data-toggle="tab">Graph</a></li>
        <li class=""><a aria-expanded="false" href="#tab_2" data-toggle="tab">Versuchsbeschreibung</a></li>
        <li class=""><a aria-expanded="false" onclick="loadpage('{{ url_for('sensor_edit', sensorid=sensor.id) }}')">Sensoreinstellungen</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="row">
                <div id="chartContainer" style="width:100%; height:280px"></div>
            </div>
            <form class="form-inline">
                <a class="btn btn-default" onclick="get_values()">
                    <i class="fa fa-play-circle"></i>
                    Start
                </a>
                <a class="btn btn-default stop">
                    <i class="fa fa-stop"></i>
                    Stop
                </a>
                <a class="btn btn-default" onclick="sendreport()">
                  <i class="fa fa-envelope"></i>
                    eMail
                </a>
            </form>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Zeitperiode [s]: </label>
                    <select id="sensordelaytime">
                        <option value="" selected></option>
                        <option value="0.1">0.1</option>
                        <option value="0.2">0.2</option>
                        <option value="0.3">0.3</option>
                        <option value="0.4">0.4</option>
                        <option value="0.5">0.5</option>
                        <option value="0.6">0.6</option>
                        <option value="0.7">0.7</option>
                        <option value="0.8">0.8</option>
                        <option value="0.9">0.9</option>
                        <option value="1.0">1.0</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea class="form-control" placeholder="Versuchsbeschreibung" id="inp-messung-beschreibung" rows="8"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>

{% endblock %}
{% block jscript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/canvasjs-1.8.0/canvasjs.min.js') }}"></script>
    <script type="text/javascript">
        var chart = new CanvasJS.Chart("chartContainer", {
            zoomEnabled: false,
            height: 270,
            width: 700,
            title: {
                text: "{{ sensor.name }}",
                fontColor: "#001F3F",
                fontSize: 15,
                fontWeight: "normal"
            },
            toolTip:{
                content: "{y} {{ sensor.unit }}"
            },
            axisX: {
                title: "Zeit [s]",
                titleFontColor: "#001F3F",
                titleFontSize: 10
            },
            axisY: {
                title: "Werte [{{ sensor.unit }}]",
                titleFontColor: "#001F3F",
                titleFontSize: 10
            },
            data: [
                {
                    type: "spline",
                    dataPoints: [
                    //{ x: 0, y: 0}
                    ]
                }
            ],
            rangeChanged: function(e){
                console.log("type : " + e.type + ", trigger : " + e.trigger + "," +
                            "AxisX viewportMininum : " + e.axisX.viewportMinimum + "," +
                            "AxisX viewportMaximum : " + e.axisX.viewportMaximum);
                }
            });
	    chart.render();

        function get_values(){
            sensorDelayTime = $('#sensordelaytime').val();
            if(sensorDelayTime==""){
                alert("Zeitperiode nicht gewählt");
                return false;
            }
            chart.options.data[0].dataPoints = [];
            var source_url = "/sensor/graph/{{ sensor.id }}/"+sensorDelayTime;
            var source = new EventSource(source_url);
            source.onmessage = function(event) {
                //console.log(event.data);
                row = event.data.split(",");
                yvalues = parseFloat(row[0]);
                xvalues = parseFloat(row[1]);
                // xvalues = parseFloat(row[1].split(".")[0]);
                var length = chart.options.data[0].dataPoints.length;
                chart.options.data[0].dataPoints.push({ x: xvalues, y: yvalues });
                chart.render();
                // $( "div.xAchse").text("0: " + row[0] + " 1: " + yaxis);
            };
            $("a.stop").click(function(){
                //console.log("STOP");
                source.close();
            });

        }

    function sendreport(){
        var angemeldet = false;
        {% if session.angemeldet %}
        angemeldet = true;
        {% endif %}
        if(angemeldet == false){
            alert("Login erforderlich");
            return false;
        }

        var BeschreibungMessung = document.getElementById("inp-messung-beschreibung").value;

        var graph = $(".canvasjs-chart-canvas").get(0);
        var graphstring = graph.toDataURL(graph);
        var messungen = chart.options.data[0].dataPoints;
        messungen.unshift({"ydesc":descrYAchse, "xdesc":descrXAchse});
        messungen.unshift({"name": chart.options.title.text});
        messungen.unshift({"descr": BeschreibungMessung});
        messungen.push({"image": graphstring});

        $.ajax({
        type: 'POST',
        data: JSON.stringify(messungen),
        dataType: 'json',
        url: '/report',
        success: function(res) {
            console.log("success: " + res);
            //var obj = jQuery.parseJSON( res );
            //var obj = res;
        },
        error: function(error) {
            console.log("error");
            console.log(error);
        }
    });
    }
    </script>

{% endblock %}