{% extends "base.html" %}
{% block content %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="info-box">
                    <a onclick="loadpage('{{ url_for("messung") }}')">
                        <span class="info-box-icon bg-light-blue-gradient">
                            <i class="fa fa-line-chart"></i>
                        </span>
                    </a>
                    <div class="info-box-content">
                        <span class="info-box-text">Messung</span>
                        <span class="info-box-number">2 Axen</span>
                    </div>
                </div>
            </div>
        </div>
    {% if sensors %}
        <div class="row">
        {% for sensor in sensors %}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="info-box">
                    <a onclick="loadpage('{{ url_for("sensor", sensorid=sensor.id) }}')">
                        <span class="info-box-icon bg-aqua-gradient">
                            <i class="fa fa-bolt"></i>
                        </span>
                    </a>
                    <div class="info-box-content">
                        <span class="info-box-number">{{ sensor.name }}</span>
                        <span>Einheit: {{ sensor.unit }}</span></br>
                        <span>Messbereich: {{ sensor.rangemin }}...{{ sensor.rangemax }} {{ sensor.unit }}</span></br>
                        <span>Scalierung: {{ sensor.scalemin }}...{{ sensor.scalemax }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
            Kein Sensor konfiguriert
        {% endif %}



{% endblock %}

